<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<!-- Define file target with rolling rules -->
	<targets>
		<target name="info"
				xsi:type="File"
				fileName="logs/RollingLog_${shortdate}.log"
				archiveFileName="logs/archive/Rolling_${date:format=yyyy-MM}_#{#}.log"
				archiveEvery="Month"
				archiveNumbering="Sequence"
				maxArchiveFiles="12"
				enableArchiveFileCompression="true"
				archiveAboveSize="10485760"
		layout="${message}" />

		<target name="audit"
				xsi:type="File"
				fileName="logs/AuditLog_${shortdate}.log"
				archiveFileName="logs/archive/Audit_${date:format=yyyy-MM}_#{#}.log"
				archiveEvery="Month"
				archiveNumbering="Sequence"
				maxArchiveFiles="12"
				enableArchiveFileCompression="true"
				archiveAboveSize="10485760"
		layout="${message}" />
	</targets>

	<!-- Define logging rules -->
	<rules>
		<logger name="info" minlevel="Info" writeTo="info" />
		<logger name="audit" minlevel="Info" writeTo="audit" />
	</rules>

</nlog>