<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

    <targets>
        <target name="info"
                xsi:type="File"
                fileName="logs/RollingLog_${shortdate}-${sequence}.log"
                archiveNumbering="Sequence"
                archiveAboveSize="10485760"
                maxArchiveFiles="30"
                concurrentWrites="true"
                keepFileOpen="false"
                layout="${message}" />

        <target name="audit"
                xsi:type="File"
                fileName="logs/AuditLog_${shortdate}-${sequence}.log"
                archiveNumbering="Sequence"
                archiveAboveSize="10485760"
                maxArchiveFiles="30"
                concurrentWrites="true"
                keepFileOpen="false"
                layout="${message}" />
    </targets>

    <rules>
        <logger name="info" minlevel="Info" writeTo="info" />
        <logger name="audit" minlevel="Info" writeTo="audit" />
    </rules>
</nlog>